* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html,body{
    background-color: #FFF;
    columns: #555;
    font-weight: 300;
    font-size: 20px;
}

h1,h2 {

text-align: center;
font-family: 'Arial';
font-weight: 300;
color: #000;
letter-spacing: 1px;
word-spacing: 4px;
text-transform: uppercase;
font-size: 140%;
padding-bottom: 10px;



}

h2 {
 font-size: 100%;
}

h4 {
    text-align: center;
    font-weight: 200;
    font-size: 90%;

}

.title-header {

    height: 20vh;
    background-color: #3ee;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-header {
    height: 80vh;

    background-image: url('../img/architecture-768432_1920.jpg');
    background-size: cover;
    background-attachment: fixed;
}

section{
    padding: 80px 0;
}

.about-p {
  
    /* text-align: justify; */
    padding: 0 120px;
    line-height: 145%;

}

.prof-pic {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background-image: url('https://media-exp1.licdn.com/dms/image/C5603AQGPGQAe6B9wbQ/profile-displayphoto-shrink_200_200/0?e=1600905600&v=beta&t=6zjm3VHhQMTkZgZyo83yyuJ9-gHg-22TaZR2UhyCoEQ');
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #3ee;
    
}

.sized-box {
    height: 20px;
}

.skills-section {
    background-color: rgb(245, 245, 245);
}