* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: #FFF;
    columns: #555;
    font-weight: 300;
    font-size: 20px;
}

h1 {

text-align: center;
font-family: 'Arial';
font-weight: 300;
color: #000;
letter-spacing: 1px;
word-spacing: 4px;
text-transform: uppercase;
font-size: 140%;
padding-bottom: 10px;



}

h4 {
    text-align: center;
    font-weight: 200;
    font-size: 90%;

}

.title-header {

    height: 20vh;
    background-color: #3ee;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-header {
    height: 80vh;

    background-image: url('../img/architecture-768432_1920.jpg');
    background-size: cover;
    background-attachment: fixed;
}

section{
    padding: 80px 0;
}

.about-p {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0 120px;
    line-height: 145%;

}